.img-aboutProduct{
    height: 550px;
    width: 550px;
    box-shadow: 3px 4px 6px #0000006b;
    margin: 40px;
    border-radius: 15px;
}
.aboutProductContainer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 30px;
}
.info h2{
font-size: 42px;
}
.priceAboutProduct{
    font-size: 28px;
}
.addCartBtn{
    border: none;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    background-color: #09A3C6;
    cursor: pointer;
}
.addCartBtn:hover{
    opacity: .8;
}

@media screen and (max-width:768px){
    .img-aboutProduct{
        height: 35vh;
        width: 35vh;
        margin: 40px 0px 40px 20px;
        object-fit: cover;
    }
.info{
    gap: 15px;
}
    .info h2{
        font-size: 18px;
    }
    .addCartBtn{
        font-size: 16px;
       
    }
}