.partnerStores-container{
    height: 65vh;
    width: 25vw;
    background: linear-gradient(to left,#06A7CE,#68D6EE);
    text-align: center;
    margin-top: 40px;
    margin-left: 50px;
}
.partnerStores-container h2{
    margin-top: 20px;
    color: #fff;
}
.partnerStores-container ul{
    list-style: circle;
    width: 5;
    margin-left: 30px;
    margin-top: 40px;
   
}
.partnerStores-container li{
    margin: 8px;
    color: #fff;
    font-weight: bold;
}
.lists{
    display: flex;
}
@media screen and (max-width: 768px){
    .partnerStores-container{
        width: 93vw;
        height: 400px;
        margin-left: 10px;
    } 
    .partnerStores-container li{
        font-size: 12px;
    }
}